In [ ]:
from selenium import webdriver
import time

DRIVER_PATH = "C:\Development\msedgedriver.exe"

driver = webdriver.Edge(executable_path=DRIVER_PATH)

driver.get("https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors")
time.sleep(2)

driver.maximize_window()

with open("updated_salaries.csv", "w") as file:
    table = driver.find_element_by_class_name('data-table')

    to_write = ",".join( \
        element.text for element in table.find_elements_by_class_name('data-table__header')
    )

    file.write(to_write + "\n")

    for row in table.find_elements_by_class_name('data-table__row'):
        cells = []
        for cell in row.find_elements_by_class_name('data-table__cell'):
            if cell.text.startswith('$'):
                cells.append("".join(cell.text.replace("$", "").split(',')))
            else:
                cells.append(cell.text)
            
        print(cells)

        file.write(",".join(cells) + "\n")

In [ ]:
import pandas as pd

df = pd.read_csv('updated_salaries.csv')

df.insert(4, 'Mean Career Pay', df['Mid-Career Pay'].subtract(df['Early Career Pay']))

df

In [30]:
altered_df = df.sort_values("Mean Career Pay", ascending=False)

altered_df

,Rank,Major,Degree Type,Early Career Pay,Mean Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,93200,94100,187300,67%
4,5,Public Accounting,Bachelors,59800,87900,147700,47%
3,4,Interaction Design,Bachelors,68300,87500,155800,55%
1,2,Operations Research & Industrial Engineering,Bachelors,84800,85600,170400,28%
10,11,Information & Computer Science,Bachelors,58600,82300,140900,62%
16,17,Building Science,Bachelors,53800,82100,135900,53%
15,16,Aerospace Studies,Bachelors,55800,80800,136600,-
6,7,Applied Economics and Management,Bachelors,66100,80300,146400,67%
8,9,Actuarial Mathematics,Bachelors,64300,79100,143400,51%
13,14,Econometrics,Bachelors,64200,74800,139000,35%
7,8,Business Computing (BC),Bachelors,73000,70600,143600,-
14,15,Pharmacy,Bachelors,68600,70100,138700,78%
20,21,Political Economy,Bachelors,65100,68400,133500,29%
19,20,Actuarial Science,Bachelors,67700,66700,134400,43%
18,19,Cognitive Science,Bachelors,68700,66500,135200,42%
9,10,Electrical Power Engineering,Bachelors,76100,66500,142600,68%
5,6,Operations Research,Bachelors,83500,63900,147400,54%
11,12,Aeronautics & Astronautics,Bachelors,77600,62000,139600,56%
12,13,Systems Engineering,Bachelors,77700,61500,139200,53%
17,17,Chemical Engineering,Bachelors,76900,59000,135900,55%
21,22,Computer Systems Engineering,Bachelors,79000,54200,133200,51%
22,23,Electrical & Computer Engineering (ECE),Bachelors,78100,53500,131600,49%
23,24,Computer Science (CS) & Engineering,Bachelors,79400,51900,131300,44%
24,24,Marine Engineering,Bachelors,79900,51400,131300,60%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,108500,50800,159300,46%